.linechart {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  .legend-linechart h3 {
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    font-weight: 300;
  }
}

// Paramètres des éléments du graphique
.recharts-wrapper {
  margin: 0px;
}

.recharts-cartesian-axis-line {
  stroke: transparent;
}

.recharts-cartesian-axis-tick-line {
  stroke: transparent;
}

.recharts-layer circle {
  fill: white;
  stroke: none;
}
