.radarchart {
  background-color: #000000;
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  //margin: 0 3%;
}

// Paramètres
.recharts-polygon {
  stroke: none;
}

.recharts-polar-angle-axis-tick {
  font-size: 12px;
<<<<<<< HEAD
  font-weight: bold;
=======
  font-weight:bold;
>>>>>>> 5f3429d8c4ea7d876003407039dad12c7caacf8b
}
