.connexion-profil{
    margin: 20px 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-top: 5%;
    }
}

.cards-profil{
    margin-top: 30px ;
    display: flex;
    gap: 60px;
    &__profil{
        position: relative;
        width: 350px;
        height:350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 800ms ease-in-out;
        &::after {
            content:'';
            position: absolute;
            top:0;
            left:0;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
            opacity: 0.9;
            transition: 0.8s;
        }
        img {
            width: 100%;
            height: 350px;
            border-radius: 10px;
            object-fit: cover;
        }
        .name-profil-user {
            position: absolute;
            z-index: 1;
            left:20px;
            bottom: 10px;
            color: white;
            span {
                font-size: 40px;
                font-weight: 400;
            }
            h3 {
                margin-top: 0;
            }
        }
    }
}

.cards-profil__profil:hover {
    transform: scale(1.03);
    &::after {
        opacity: 0.3;
        transition: 0.8s;
    }
}