* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

h3 {
  font-weight: 500;
  font-size: 15px;
}

p,
a {
  font-weight: 400;
  font-size: 18px;
}

li {
  font-weight: 400;
  font-size: 24px;
}

.navigation {
  position: relative;
}

.dashboard {
  position: absolute;
  top: 10%;
  left: 120px;
  padding-left: 30px;
}
.dashboard .user h1 {
  margin-bottom: 0;
}

.dashboard__graphics {
  display: flex;
}

.dashboard__recharts {
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}
.dashboard__recharts__blocs {
  display: flex;
  justify-content: space-between;
}

.nav-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  background-color: #020203;
}
.nav-horizontal .nav-logo {
  width: 20%;
  padding-left: 3%;
}
.nav-horizontal .nav-item {
  margin: 0;
  color: white;
  width: 80%;
  padding: 0 3% 0 5%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  height: 100vh;
  background-color: #020203;
}
.nav-vertical .nav-icons {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: white;
}
.nav-vertical .nav-text {
  font-size: 12px;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.bloc-icon {
  width: 65px;
  height: 65px;
  margin: 10px 0;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.section-userdata {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.user-data {
  background-color: #fbfbfb;
  width: 180px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 25px 30px;
  margin-bottom: 20px;
}
.user-data .data-icon {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: rgb(229, 229, 253);
  margin-right: 20px;
}
.user-data .data-icon .bloc-icon {
  background-color: transparent;
  margin: 0;
  width: 50px;
  height: 50px;
}
.user-data .data-icon .name-icon {
  width: 50%;
}
.user-data .data-infos h2 {
  margin: 0;
}
.user-data .data-infos span {
  font-weight: 500;
  color: #74798c;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.tooltip {
  background-color: white;
  padding: 5px 10px;
}
.tooltip p {
  font-size: 8px;
  font-weight: 500;
}

.barchart {
  background-color: #fbfbfb;
  margin-bottom: 3%;
  padding: 20px;
  border-radius: 5px;
}

.legend-barchart {
  display: flex;
  justify-content: space-between;
}
.legend-barchart .poids-calories {
  display: flex;
}
.legend-barchart .poids-calories .poids,
.legend-barchart .poids-calories .calories {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.legend-barchart .poids-calories .poids span,
.legend-barchart .poids-calories .calories span {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  color: #74798c;
}

.linechart {
  background-color: #ff0000;
  border-radius: 5px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.linechart .legend-linechart h3 {
  color: rgba(255, 255, 255, 0.5);
  width: 60%;
  font-weight: 300;
}

.recharts-wrapper {
  margin: 0px;
}

.recharts-line-curve {
  fill: none;
  stroke: url(#colorUv);
}

.recharts-layer circle {
  fill: none;
  stroke: none;
  cursor: pointer;
}

.recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line {
  stroke: transparent;
}

.recharts-tooltip-cursor {
  stroke: transparent;
}

.recharts-active-dot .recharts-dot {
  fill: white;
  stroke: white;
}

.radarchart {
  background-color: #000000;
  border-radius: 5px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.recharts-polygon {
  stroke: none;
}

.recharts-polar-angle-axis-tick {
  font-size: 12px;
  font-weight: bold;
}

.radialchart {
  background-color: #cde5f8;
  border-radius: 5px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

/*
.radialchart-graphic {
  position:absolute;
}*/
.radialchart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.radialchart-info span {
  font-size: 24px;
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */