* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 48px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

h3 {
  font-weight: 500;
  font-size: 15px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

li, a {
  font-weight: 400;
  font-size: 24px;
}

.dashboard {
  display: flex;
}
.dashboard__profil {
  width: 100%;
  margin: 2% 3% 0 5%;
}
.dashboard__graphics {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dashboard__recharts {
  width: 100%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}
.dashboard__recharts__blocs {
  display: flex;
  justify-content: space-between;
}

.user h1 {
  margin: 0;
}
.user h1 span {
  color: #ff0000;
}

.nav-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  background-color: #020203;
}
.nav-horizontal .nav-logo {
  width: 18%;
  padding-left: 3%;
}
.nav-horizontal .nav-item {
  margin: 0;
  width: 80%;
  padding: 0 3% 0 5%;
  display: flex;
  justify-content: space-between;
}
.nav-horizontal .nav-item a {
  color: white;
  text-decoration: none;
}

.nav-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  height: 100vh;
  background-color: #020203;
}
.nav-vertical .nav-icons a {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 5px 0 0;
  color: white;
}
.nav-vertical .nav-text {
  width: 140px;
  font-size: 12px;
  color: white;
  transform: rotate(270deg);
}

.bloc-icon {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.section-userdata {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-data {
  background-color: #fbfbfb;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 40px 30px;
  margin-bottom: 20px;
}
.user-data .Calories .bloc-icon {
  background-color: rgba(255, 0, 0, 0.1);
}
.user-data .Proteines .bloc-icon {
  background-color: rgba(74, 184, 255, 0.1);
}
.user-data .Glucides .bloc-icon {
  background-color: rgba(249, 206, 35, 0.1);
}
.user-data .Lipides .bloc-icon {
  background-color: rgba(253, 81, 129, 0.1);
}
.user-data .Calories, .user-data .Proteines, .user-data .Glucides, .user-data .Lipides {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.user-data .Calories .bloc-icon, .user-data .Proteines .bloc-icon, .user-data .Glucides .bloc-icon, .user-data .Lipides .bloc-icon {
  margin: 0;
  width: 50px;
  height: 50px;
}
.user-data .Calories .name-icon, .user-data .Proteines .name-icon, .user-data .Glucides .name-icon, .user-data .Lipides .name-icon {
  width: 80%;
}
.user-data .data-infos h2 {
  margin: 0;
}
.user-data .data-infos span {
  font-weight: 500;
  color: #74798c;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.tooltip {
  padding: 5px 10px;
}
.tooltip p {
  font-size: 8px;
  font-weight: 500;
}

.barchart .tooltip {
  background-color: #ff0000;
  color: white;
}

.linechart .tooltip {
  background-color: white;
  color: #282D30;
}

.connexion-profil {
  margin: 10%;
  padding-bottom: 80px;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion-profil__title {
  margin-top: 5%;
}

.cards-profil {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}
.cards-profil__profil {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 800ms ease-in-out;
}
.cards-profil__profil::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
  opacity: 0.9;
  transition: 0.8s;
}
.cards-profil__profil img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-profil__profil .name-profil-user {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 10px;
  color: white;
}
.cards-profil__profil .name-profil-user span {
  font-size: 40px;
  font-weight: 400;
}
.cards-profil__profil .name-profil-user h3 {
  margin-top: 0;
}

.cards-profil__profil:hover {
  transform: scale(1.03);
}
.cards-profil__profil:hover::after {
  opacity: 0.3;
  transition: 0.8s;
}

.barchart {
  background-color: #fbfbfb;
  margin-bottom: 3%;
  padding: 20px;
  border-radius: 5px;
}

.legend-barchart {
  display: flex;
  justify-content: space-between;
}
.legend-barchart .poids-calories {
  display: flex;
}
.legend-barchart .poids-calories .poids,
.legend-barchart .poids-calories .calories {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.legend-barchart .poids-calories .poids span,
.legend-barchart .poids-calories .calories span {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  color: #74798c;
}

.linechart {
  position: relative;
  width: 100%;
  background-color: #ff0000;
  padding: 20px;
  border-radius: 5px;
}
.linechart .legend-linechart h3 {
  position: absolute;
  top: 0px;
  color: rgba(255, 255, 255, 0.5);
  width: 60%;
  font-weight: 300;
}

.recharts-wrapper {
  margin: 0px;
}

.recharts-line-curve {
  fill: none;
  stroke: url(#colorUv);
}

.recharts-layer circle {
  fill: none;
  stroke: none;
  cursor: pointer;
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: transparent;
}

.recharts-tooltip-cursor {
  stroke: transparent;
}

.recharts-active-dot .recharts-dot {
  fill: white;
  stroke: white;
}

.radarchart {
  width: 100%;
  background-color: #000000;
  border-radius: 5px;
  padding: 20px;
  margin: 0 2%;
}

.recharts-polygon {
  stroke: none;
}

.recharts-polar-angle-axis-tick {
  font-size: 12px;
  font-weight: bold;
}

.radialchart {
  width: 100%;
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
}
.radialchart h3 {
  margin-top: 0px;
}

.radialchart-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radialchart-info span {
  font-size: 26px;
  font-weight: bold;
}
.radialchart-info__text {
  color: #74798c;
}

.recharts-radial-bar-background-sector {
  fill: white;
  color: blue;
}

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
}
.error-content h1 {
  font-weight: 700;
  font-size: 288px;
  color: #ff0000;
  margin: 0;
  text-align: center;
}
.error-content h2 {
  font-weight: lighter;
  color: #74798c;
  text-align: center;
}
.error-content .btn-home {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */